body {
    background-color: rgb(22, 32, 59);
    color: rgb(158, 158, 100);
}

.image-holder img {
    max-height: 100%;
    max-width: 100%;
}

.container {
    height: 90vh;
    width: 100vw;
    text-align: center;
}

.bc {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: white;
    display: inline-block;
    margin: 20px;
    font-size: 1.1rem;
    cursor: pointer;
}

.active {
    height: 20px;
    width: 20px;
    font-size: 2rem;
    color: red;
    transition: 0.6s ease;
}

.image-holder {
    height: 80vh;
    width: 95vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.5s ease;
}

.navigation {
    height: 5vh;
    width: 95vw;
}

.left-arrow,
.right-arrow {
    display: inline-block;
    font-size: 2rem;
    padding: 20px;
    cursor: pointer;
}

.navigation h1 {
    display: inline-block;
}
